#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url("https://www.freepik.com/free-photo/narrow-pathway-garden-surrounded-by-lot-colorful-flowers_10119383.htm#fromView=search&page=1&position=1&uuid=d4f6befc-59ed-46a4-a5ec-bafe92021926");
}